<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
      Las claves "baseDeDatos" y "Region" son leidas por la implementacion VB legacy
      (Loan1.Utils.GeneradorSql) en su constructor.
      Para los tests de paridad, configurar los mismos valores que se usan en Loan DEV.
    -->
    <add key="baseDeDatos" value="MYSQL" />
    <add key="Region" value="ARGENTINA" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
